<h1><%=@user.first_name%> <%=@user.last_name%>'s info</h1>
<table>
  <tr>
    <th>First name:</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>Last name:</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @user.email_address %></td>
  </tr>
</table>
<a href="/users/<%=@user.id%>/edit">Edit</a> | <a href="/">Back</a>
