<!DOCTYPE html>
<html>
  <head>
    <title>Login4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <%= yield %> <!-- HTML FROM VIEWS -->
		<% if flash[:errors] %> <!-- THIS DISPLAYS ERROR IF THERE ARE ANY -->
			<% flash[:errors].each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>    
  </body>
</html>
