<h1>Register</h1>
</br>
<% if flash[:errors] %>
  <% flash[:errors].each do |i| %>
    <p><%= i %></p>
  <% end %>
<% end %>
</br>
<%= form_for @user do |i| %>
  <%= i.label :name %>:
  <%= i.text_field :name%></br>

  <%= i.label :email %>:
  <%= i.email_field :email %></br>

  <%= i.label :password %>:
  <%= i.password_field :password %></br>

  <%= i.label :password_confirmation %>:
  <%= i.password_field :password_confirmation %></br>

  <%= i.submit %>
<% end %>
