<%= @user.name %></br>
</br>
<% if flash[:errors] %>
  <p><%= flash[:errors][0] %></p>
<% end %>
<h3>New Secret</h3>
<%= form_for @secret do |i| %>

  <%= i.text_area :content %>

  <%= i.submit %>
<% end %>
</br>
<%= link_to 'All Secrets', secrets_path %>
</br>
<h3>Secrets</h3>
<% @user.secrets.each do |i| %>
  <p><%= i.content %></p>
  <p>Likes: <%=i.likes.length%></p>
  <%= link_to 'Delete', secret_path(i), method: :delete %>
<% end %>
</br>
</br>
</br>
<h3>Secrets Liked</h3>
<% @user.secrets_liked.each do |i| %>
  <p><%= i.content %></p>
  <p>Likes: <%=i.likes.length%></p>
<% end %>
