<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Secrets</h2>

	<% @secrets.each do |secret| %>
		<%= secret.content %>
		<% if secret.user==@user %>
			<%= button_to "Delete", users_delete_path(secret), method: :delete %>
		<% end %>
		has <%= @count.values_at(secret.id)  %> likes
		<% @likes=Like.where(secret_id: secret.id) %>
		<% if @likes.any? {|like| like.user==@user} %>
		<%= button_to "Unlike", unlikes_path(secret), method: :delete %><br>
		<% else %>
		<%= link_to "Like", likes_path(secret), method: :post %><br>
		<% end%>
	<% end %>



</body>
</html>