<html>
<head>
	<title></title>
</head>
<body>
	<h2>Listing products</h2>
	<div id="products_list">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |p| %>
				<tr>
					<td><%= p.name %></td>
					<td><%= p.description %></td>
					<td>$<%= p.pricing %></td>
					<td>
						<a href="/products/<%= p.id %>">Show</a>
						<span> | </span>
						<a href="/products/<%= p.id %>/edit">Edit</a>
						<span> | </span>
						<a href="/products/<%= p.id %>" data-method="delete">Destroy</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<a href="/products/new">New Product</a>

	<p class="red"> <%= flash[:success] %> </p>

</body>
</html>