<h1> Listing of products </h1>

<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Category</td>
        <td>Action</td>
    </tr>
    <% @products.each do |product| %>
    <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.pricing %></td>
        <td><%= product.category.category %></td>

        <td>
            <form action='/products/<%=product.id%>/edit' method='GET'>
                 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                 <input type='submit' value='Edit'>
            </form>
        </td>

        <td>
            <form action='/products/<%=product.id%>' method='POST'>
                 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                 <input type='hidden' name='_method' value='DELETE'>
                 <input type='submit' value='Delete'>
            </form>
        </td>

        <td>
            <form action='/products/<%=product.id%>' method='GET'>
                 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                 <input type='submit' value='Show'>
            </form>
        </td>
    </tr>
    <% end %>
</table>

<br>
<br>

<a href="/products/new">New Product</a>
