<h1>Show Product </h1>
<p>Name: <%=@product.name%></p>
<p>Description: <%=@product.description%></p>
<p>Category: <%=@product.category.category%></p>
<p>Pricing: <%=@product.pricing%></p>
<br>
<a href="/products">Back</a>
<a href="/products/<%=@product.id%>/edit">Edit</a>
