<!DOCTYPE html>
<html>
  <head>
    <title>EventPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
	    <%= yield %>
	    <% if flash[:errors] %>
	    	<% flash[:errors].each do |error| %>
	    		<p><%= error %></p>
	    	<% end %>
	    <% end %>
	   </div>
  </body>
</html>
